
* {
  box-sizing: border-box;
}
/*----------CAROUSEL*/
.carousel{
  display: flex;
  justify-content: center;
  width: 100%;
}
.carouselContainer{
  margin-top: 48px;
  height: 64px;
  width: 596px;
  overflow: hidden;

}
.imageWrapper{
  display: flex;
  flex-direction: row;
  transition: all 0.3s ease-in-out;
}
.image{
  border-radius: 4px;
  width: 48px;
  height: 48px;
  margin: 3px;
}
.count{
  font-weight: 600 !important;
}
p{
  margin: 0px !important;
  word-wrap: break-word ;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
  font-size: 16px;
  font-weight: 600 ;
  line-height: 1.375em ;
  color: #484848;
}
.info{
  margin-left: 16%;
}
.description{
  margin-top: 18px;
  margin-left: 16% ;
  word-wrap: break-word !important;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
  font-size: 16px !important;
  font-weight: 400 !important;
  line-height: 1.375em !important;
  color: #484848 !important;
}